/* .side-bar {
  background-color: #0D1F22;
  min-width: 200px;
} */

.navbar.main-navbar {
  margin-bottom: 50px;
  min-width: 200px;
  background-color: #F0C808;
}

h8 {
  padding-left: 30px;
  font: bold 40px arial, sans-serif;
  background-color: #9b9b9b;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

h4 {
  font: sans-serif;
  padding-top: 60px;
}

body {
 /* background-color: #0D1F22; */
  overflow-y: hidden;
  color: #8B7404;
  background-color: #a9bdbd;
  /* background-image: url();
  background-size: 400px; */
  font-family: sans-serif;
}

.header-logo {
  font-family: sans-serif;
  font-weight: semi-bold;
  font-size: 100px;
  line-height: 50%;
  margin-bottom: 50px;
  margin-top: 120px;
  text-align: center;
  text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .40);
}

.padded {
  padding: 20px;
}

html {
  overflow-x: hidden;
}

.card {
  background-color: #1f424b;
}

.card-main {
  background-color: #944654;
  border-radius: 1.25rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .30);
  max-width: 600px;
}

.card-text {
  color: rgb(231, 224, 224);
}

.card-body {
  background-color: #b58900;
  border: #b58900;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .30);
}

.plus-button {
  right: 10px;
  position: absolute;
  top: 10px;
}

.nav-link {
  color: #944654 !important;
  padding: 0;
}

.form-control {
  background-color: #C1ABA6;
}

@media all and (min-width: 950px) {
  .logo {
    margin-right: 200px;
  }
}

@media all and (max-width: 550px) {
  .header-logo {
    font-size: 18.9vw;
  }
}